canvas {
    border: 1px solid black;
  }

  .start-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
    
    
  }

  #start-btn{
    background-color: gray;
    color: whitesmoke;
    
    top: 40%;
    width: 150px;
    height: 80px;
    border-radius: 15px;
    border-color: whitesmoke;
    font-weight: bolder;
    font-size: large;
    transition: all 0.3s ease
  }

  #start-btn:hover{
    transform: scale(1.1)
  }

  #arrows{

  }